* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
}
ul#list {
    list-style-type: none;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding-top: 8px;
    padding-left: 0;
}
ul#list li {
    list-style-type: none;
    display: inline-block;
    border-radius: 3px;
    margin: 12px;
    padding: 6px;
    background-color: #fafafa;
    box-shadow: -1px 7px 30px -12px #000;
}

h1 {
    text-align: center;
    text-transform: lowercase;
    font-family: Georgia, serif
}
#wrapper {
    width: 1000px;
    max-width: 100%;
    margin: 3rem auto;
    line-height: 1.4;
}
.avatar {
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    width: 204px;
    height: 285px;
    background-color: #dee8fc;
    position: relative;
    text-align: center;
}
.priceTag {
    width: 120px;
    background-color: hsla(0,0%,100%,.8);
    text-align: center;
    padding: 8px 0;
    border-radius: 100px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%);
}
.price {
    font-weight: 600;
    padding-right: 4px;
}
.token {
    position: absolute;
    top: 3px;
    font-size: 85%;
    color: #999;
    text-transform: lowercase;
}
.info {
    padding: 16px 0;
    text-align: center;
}
.action {
    color: #fff;
    background-color: #5488ed;
    padding: 6px 16px 6px 36px;
    border-radius: 100px;
    border-bottom: 3px solid #1d5ccc;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.action:hover {
    background-color: #1d5ccc;
    border-color: #5488ed;
}
.id {
    font-size: 85%;
    color: #999;
    padding-top: 16px;
}
.name {
    font-weight: 700;
    font-size: 120%;
    text-transform: lowercase;
}
.options {
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 8px;
}
.options input {
    width: 100%;
    padding: 4px 8px;
}
.mode{
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 10px;
    text-align: center;
}
.mode label {
    padding-right: 2rem;
    display: inline-block;
}
