
$error-color: #F1637D;
$radio-color: #5D9E7A;

.frame-right {
  padding-left: 2rem;
}

.advance-config-wrapper {
  margin-top: 15px;
  .advance-title-mobile{
    &.title {
      padding: 8px 0 0;
    }
    border-radius: 5px;
    // text-align: right;
    cursor: pointer;
    >div {
      display: flex;
      // justify-content: flex-end;
      color: #222;
      align-items: center;
      &.show-content {
        background: linear-gradient(to top, #f5f5f5 50%, white 50%);
      }
      padding: 0 20px;
      img {
        width: 13px;
        transition: 0.2s;
        margin-right: 10px;
        &.advance-arrow-up {
          transform: rotate(180deg);
          transition: 0.2s;
        }
      }
      .border-advance {
        height: 2px;
        width: 100%;
        margin-left: 10px;
        background-color: #ebebeb;
      }
    }
    // @media screen and (min-width: $break-point-large){
    //   display: none  
    // }
  }
}

.advance-config{
  padding: 0 20px;
  // margin-top: 15px;
  background-color: #f5f5f5;
  // box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);

  @include screen-max-width(medium) {
    padding: 0 20px;
  }

  #advance-content {
    display: none;
    padding: 10px 0;

    &.show-advance {
      display: block;
    }

    .transaction-fee {
      div:first-child {
        font-size: 12px;
        color: #6e6e6e;
        line-height: 1.5;
      }

      div:last-child {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 1.5;
      }
    }
  }

  .min-convention-rate{
    text-align: center;
    margin-top: -10px;
    // padding-left: 35px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #ef8102;
    img {
      vertical-align: middle;
    }
  }
  .gas-change{
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    justify-content: space-between;
  }
  .gas_input {
    max-width: 40%;

    input {
      padding-left: 10px;
      padding-top: 0;
      padding-bottom: 0;
      color: #aaa;
      width: 100%;
    }
  }

  .gas_input-label-container {
    // width: 40%;
    // min-width: 170px;
    margin-right: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .gas_input-lable{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    align-items: center;
    border-left: none;
    border-right: none;
    font-size: 14px;
    color: #999999;
    border-right: 1px solid #E8E8E8;
  }

  .gas_input-option{
    padding-left: 0;
    width: 100%;

    .gas-option{
      .token-selector {
        .focus-item{
          font-size: 13px;
          color: #666666;
          padding: 10px 10px 10px 0px;
          border-radius:0;
          border: none !important;
          box-shadow: none !important;
          align-items: center;
          justify-content: center;

          div:first-child {
            margin: 0 10px;
            text-transform: uppercase;
            white-space: nowrap;
            font-size: 14px;
            font-weight: bold;
          }

          div:last-child {
            display: flex;
            align-items: center;
            position: relative;
            top: 1px;

            img {
              min-width: 11px;
              content: url(../img/exchange/arrow-down-swap.svg)
            }
          }
        }
        .select-item{
          font-size: 12px;
        }
      }		       
    }
  }
  .select-item{
    width: 100px;
    top: -41px;
    right: 0;
    background-color: #fff;
    padding: 10px 0;
    border-radius: 2px !important;
    margin: 0;
    border: none !important;
    box-shadow: 0 0 5px #aaa;
    .token-item{
      text-transform: uppercase;
      color: #666;
      &:hover {
        background: #F9F8FB;
      }
    }
  }
  .title {      
    font-size: 16px;
    color: #31CB9E;
    // position: relative;
    // z-index: 1;
  }

  input{
    border-radius: 3px;
    margin-bottom: 0.6rem;
    border: none;
    margin: 0;
    box-shadow: none;
    &:focus{
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  .des-up {
    margin-top: 3px;
    padding-bottom: 12px;
    font-size: 13px;
    font-style: italic;
    line-height: 1.54;
    color: #666666;
    img {
      vertical-align: middle;
    }
  }

  .des-down{
    padding-bottom: 1rem;
    font-size: 13px;
    font-style: italic;
    line-height: 1.54;
    color: #666666;
  }

  label.des-down {
    font-style: normal;
  }

  .error{
    .gas-change{
      border: 1px solid $error-color;
    }
      input{
          // border: 1px solid $error-color;
          background: transparent;
          color: #e8827f;
      }
      .error-text{
          color: $error-color;
          font-size: 0.8rem;
      }
  }

  .min-rate, .gas-config {
    .sub_title {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.2px;
      color: #474d5f;
    }
  }

  .min-rate{
    margin-bottom: 0.75rem;

    .show-rate {
      .rate-percent {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
      }
    }

    .sub_title {
      display: inline-block;
      margin: 5px 0 10px;
    }

    .rc-slider {
      .rc-slider-rail {
        height: 1px !important;
      }
    }
    .rc-slider-handle {
      margin-top: -13px;
      &:focus, &:active {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
  }

  .gas-config{
    > div:first-child {
      margin-bottom: 3px;
    }

    .sub_title {
      font-size: 0.9rem;
    }
    p.sub_title {
      margin-top: 0;
    }
    .des-down {
      margin-top: 10px;
      line-height: 1.5;
      font-size: 13px;
      font-style: italic;
      color: #666666;
    }
    input{
      height: auto;
      min-height: auto;
      background: transparent;
    }
    .advanced-content {
      padding: 40px 0;
      transition: 0.3s;
      font-size: 0.8em;
      &[disabled] {
        padding: 0px;
        height: 0px;
        overflow: hidden;
        pointer-events: none;
      }
      .gas-price, .min-rate{
        margin: 0 auto;
        label{
          text-align: left;              
          color: $white;
          margin-top: 7px;
          font-size: inherit;
          @include breakpoint(medium){
            text-align: right;
          }
        }
        input{
          margin-bottom: 8px;
          background-color: #1b2e36;
          color: #a5a5a5;
          // border-radius: 25px;
        }
      }
      .error-text{
        color: $error-color;
      }
      .gas-price{
        input{
          padding-right: 50px;
        }
        .unit{
          position: absolute;
          top: 9px;
          right: 25px;
          color: inherit;
        }
        .gas-select{
          margin-bottom: 10px;
          margin-top: 15px;
          button{
            padding: 7px 13px;
            border-radius: 20px;
            background-color: #1b2e36;
            color: #a5a5a5;
            min-width: 80px;
            border: 1px solid transparent;
            cursor: pointer;
            &:hover{
              border-color: $k-success;
              color: $k-success;
              background-color: #2b4552;
            }
          }
        }
      }
    }
    .custom-radio{
      margin-top: 1rem
    }
  }
}

.custom-radio {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
  }
    
  ul li input[type=radio]{
    position: absolute;
    visibility: hidden;
  }
  
  ul li label{
    display: block;
    position: relative;      
    font-size: 0.8em;
    padding: 5px 0px 0px 20px;
    color: #A2A2AE;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    text-transform: uppercase;
  }

  ul li .check{
    display: block;
    position: absolute;
    border: 2px solid #EBEBEB;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 9px;
    z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
  }

  ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 16px;
    width: 16px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
  }
  
  input[type=radio]:checked ~ .check {
    // border: 2px solid $radio-color;
    border: none;
  }
  
  input[type=radio]:checked ~ .check::before{
    // background: $radio-color;
    background-image: url("../img/checked.svg")
  }
  
  input[type=radio]:checked ~ label{
    color: $radio-color;
  }
}
