.reveal.large {
  &.reveal-cold-wallet {
    max-width: 544px;
    border-radius: 5px;
    padding: 0;
    overflow: unset;
    @include screen-max-width(medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#cold-wallet {
  .address-list-path {
    .content {
      text-align: left;
      margin-top: 30px;

      .title {
        margin-top: 0;
        padding: 0 .9375rem;
        margin-bottom: 30px;
      }

      .block-title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 7px;
      }

      .block-choose-path {
        margin-bottom: 25px;
      }

      .token-selector {
        .focus-item {
          padding: 10px 5px;
          background-color: white;
          font-size: 14px;

          >div {
            width: calc(100% - 40px);
            color: #5F5F5F;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: 0 10px 0 8px;
            &:hover {
              color: #5F5F5F;
            }
          }

          div:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            min-height: 21px;
            padding: 0 10px 0 15px;
            border-left: 1px solid #eee;

            div {
              position: relative;
              top: 1px;
            }
          }
        }
        .select-item {
          top: -45px;
          box-shadow: 0 2px 16px 0 rgba(31, 31, 31, 0.5);
          border-radius: 5px;
          max-height: 450px;
          overflow-y: auto;
          border: none;
          margin-bottom: 30px;

          .list-item {
            .token-item {
              position: relative;
              font-size: 14px;
              padding-right: 35px;

              >div {
                display: block;
                color: #232323;
              }

              div:nth-child(2) {
                color: #bbb;
              }
              &:hover {
                background-color: #eee;
              }
              >img {
                width: 16px;
                margin-left: 20px;
              }

              &.active::after {
                content: '';
                position: absolute;
                top: 50%;
                margin-top: -5px;
                right: 15px;
              }
            }
            .input-custom-path {
              width: 100%;
              padding: 3px;
              border: 1px solid #eee;
              border-radius: 5px;
              background-color: white;
              >div {
                display: flex;
                align-items: center;
                justify-content: center;
                input {
                  margin: 0;
                  border: none;
                  border-radius: 0;
                  box-shadow: none;
                  height: unset;
                  padding: 0 10px;
                  &::placehoder {
                    font-style: italic;
                    color: #ccc;
                  }
                }
                img {
                  width: 20px;
                  height: 20px;
                  padding: 10px;
                  border-radius: 8px;
                  background-color: #8F8FB6;
                }
              }
            }
          }
        }
      }
      &.white {
        background-color: white;
        padding: 0px 35px;
        margin-bottom: 20px;
      }
    }
  }
}
