.error-payment {
  box-shadow: 0 2px 8px 0 rgba(184, 184, 184, 0.5);
  display: inline-block;
  ul{
    padding-left: 10px;
  }
  &-container {
    text-align: center;
  }

  &__icon {
    width: 42px;
    height: 42px;
    background: url($image-path + 'error-exclamation.svg');
    margin: 0 auto;

    &-container {
      padding: 90px 20px 30px;
      text-align: center;
    }

    &-text {
      font-family: $font-cera;
      font-size: 36px;
      letter-spacing: -0.5px;
      color: #ee344e;
    }
  }

  &__content {
    background-color: #f5f5f5;
    padding-top: 10px;
    text-align: center;

    &-text {
      font-size: 14px;
      line-height: 1.43;
      color: #666666;
      margin-bottom: 20px;
      display: inline-block;
      text-align: left;

      &--bold {
        font-weight: 600;
      }
    }

    &-button {
      text-align: center;
      margin-top: 40px;

      div {
        padding: 15px 28px;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
