.widget-exchange {
  background: white;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-top: none;
  border-radius: 0 0 5px 5px;

  &__body,
  &__bot {
    padding: 30px 40px;
  }

  &__body {
    background-color: white;

    &.small-padding {
      padding-bottom: 5px;
    }
  }

  &__bot {
    background-color: #f9fcff;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    color: #627d9c;
    text-align: center;
    margin: 10px 0 40px;
  }

  &__approximate {
    margin: 0 4px;
  }

  &__text {
    color: $theme-emerald-regular;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__column {
    display: flex;
    justify-content: space-between;

    &-item {
      position: relative;

      &:first-child {
        width: 45%;
      }

      &:last-child {
        width: 50%;
      }
    }

    &.buy,
    &.swap {
      .import-account {
        justify-content: flex-start;
      }

      .import-account__item {
        margin-right: 15px;
      }

      .widget-exchange__column-item {
        &:first-child {
          width: 54%;
        }

        &:last-child {
          width: 41%;
        }
      }
    }
  }

  &__order {
    border-radius: 6px;
    border: solid 1px $theme-emerald-border;
    background-color: white;

    &-rate {
      text-align: right;
    }

    &-header {
      border-radius: 6px;
      background-color: #f8fbfd;
      padding: 18px 25px;
      font-weight: 600;
      color: #677c94;
    }

    &-body {
      padding: 25px 25px 0;
    }

    &-amount {
      position: relative;
      bottom: 11px;
    }

    &-text {
      font-size: 14px;
      font-weight: 500;
      color: #606d7b;
    }

    &-text-light {
      font-size: 14px;
      font-weight: 500;
      color: #9ea8b3;
    }

    &-text-bold {
      font-size: 16px;
      font-weight: 600;
      color: #606d7b;
    }

    &-text-bolder {
      font-size: 24px;
      font-weight: 500;
      color: #616877;
    }

    &-text-small {
      font-size: 14px;
      font-weight: 500;
      text-align: right;
      margin-top: 5px;
    }

    &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
    }

    &-address {
      padding-top: 25px;
      border-top: 1px dashed $theme-emerald-border;
    }
  }

  &__input-container {
    margin-top: 30px;
  }

  &__swap {
    &-container {
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    &-item {
      width: 40%;
      margin-bottom: 15px;

      &.disabled {
        .token-chooser {
          cursor: initial;
        }

        .token-chooser__token-symbol,
        .common__input-panel-label,
        .widget-exchange__text {
          color: #959daf;
        }

        .common__input-panel-label {
          z-index: 2;
        }

        .common__triangle,
        .token-dropdown__content {
          display: none;
        }
      }
    }

    &-button {
      width: 44px;
      height: 44px;

      &-container {
        width: 44px;
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      &.swap {
        background-image: url($image-path + 'icons/icon-swap.svg');
      }

      &.buy {
        background-image: url($image-path + 'icons/icon-buy.svg');
      }
    }

    &-text {
      font-size: 14px;
      font-weight: 500;
      text-align: right;
      color: #727a91;
    }
  }

  &__info {
    margin-top: 25px;
  }
}
