$title-background-color: #DCF0EC;
$footer-background-color: $title-background-color;
$divider-color: darken($title-background-color, 5);

.reveal-overlay {
  background-color: rgba($dark-gray, .75);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.reveal {
  position: relative;
  overflow: visible;
  border-radius: 0;
  color: #2c2c2c;
  outline: none;
  box-shadow: 0 20px 40px 0 rgba($medium-gray, .2);
  background-color: #fefefe;
  padding: 1rem;
  border: 1px solid #cacaca;
  margin: 0 auto;

  .text-center {
    text-align: center;
  }
  @include breakpoint(small only) {
    height: 100vh;
  }
  .message {
    margin-bottom: 25px;
  }
  a{
    color: #EF8102;
    &.x {
      display: block;
      position: absolute;
      right: 20px;
      top: 0px;
      font-size: 3rem;
      color: #aaa;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .k-title {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .overlap {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #8CBCAE;
    padding: 50px 50px;
    align-items: center;
    span{
      &:not(.error-text){
        color: white;
      }
    }
    .button {
      margin: 0;
    }
  }
  .k-content {
    &.with-overlap {
      padding-bottom: 25px;
      &.tx-loading {
        padding-bottom: 100px;
      }
    }
    .block-title {
      @include clearfix;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 15px;
      img.loading {
        height: 21px;
        float: right;
        margin-left: 10px;
      }
    }
    p {
      font-size: 14px;
      line-height: 1.7;
    }
    .gas-configed{
      width: 270px;
      max-width: 100%;
      white-space: nowrap;
      text-align: left;
      font-size: 0.8rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      >div{
        &:first-child{
          margin-bottom: 0.6rem;
        }
      }
    }
    hr{
      border-color: #a5a5a5;
    }
    .modal-error{
      font-size: 0.9em;
      margin-bottom: 25px;
      color: $alert-color;
      padding-top: 24px;
      &.metamask{
        height: 65px;
        overflow-y: auto;
        overflow-x: hidden;
        word-wrap: break-word;
        margin: 24px;
        padding: 5px 5px;
        margin-left: 10px;
        margin-bottom: 0;
        &.full{
          white-space: normal;
        }
        + .show-full{
          font-size: 0.8em;
          margin-top: -20px;
          margin-bottom: 15px;
          cursor: pointer;
          color: #ff5d00;
          font-style: italic;
        }
      }
    }
  }
  .footer {
    border-top: 1px solid $divider-color;
    padding: 25px 10px;
    background-color: $footer-background-color;
    @include breakpoint(medium) {
      padding: 15px;
    }
    &.with-overlap {
      padding-top: 45px;
    }
    .action {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      color: $dark-gray;
      letter-spacing: .5px;
    }
  }
}
