

.payment_confirm{
    padding: 10px 20px 3rem;
    @include screen-max-width(medium) {
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .confirm-message{
        margin-bottom: 20px;
        font-size: 13px;
        font-style: italic;
    }
    &.error{
        .confirm-btn{
            opacity: 0.6;
            pointer-events: none;
            cursor: not-allowed;
        }
        .error-message{
            color: #f1637d;
            font-size: 14px;
            margin-top: 15px;
        }
        // .approve-intro{
        //     display: none;
        // }
    }
    .approve-intro{
        color: #999;
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .payment-info{
        margin-top: 30px;
        font-size: 14px;
        color: #666666;
        .title{
            color: #222;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
        }
        .monster-avatar {
            padding: 25px 20px;
            border-radius: 3px;
            background-color: #dee8fc;
            margin-top: 15px;
            .kyber-avatar {
                margin: 12px 0;
                text-align: center;
                img {
                    max-width: 100%;
                    max-height: 180px;
                    width: unset;
                }
            }
            .content>div {
                >span:first-child {
                    width: 115px;
                }
                >span:last-child {
                    font-weight: 600;
                }
            }
        }
        .content{
            color: #666;
            >div{
                margin-top: 7px;
                >span{
                    &:first-child{
                        display: inline-block;
                        width: 140px;
                    }
                }
            }
            &.kyber-product-avatar {
                padding: 25px 20px 15px 20px;
                border-radius: 3px;
                background-color: #f8f8f8;
                margin-top: 15px;
                .kyber-pAvatar {
                    text-align: center;
                    margin-bottom: 15px;
                    img {
                        max-height: 180px;
                        max-width: 100%;
                    }
                }
            }
        }
    }

    .payment-bottom{
        margin-top: 40px;
        #import-account{
            padding-top: 0;
            margin-bottom: 25px;
        }
        .error-message{
            color: #f1637d;
            font-size: 13px;
            max-height: 100px;
            overflow: auto;
            margin-bottom: 20px;
            word-wrap: break-word;
        }
        .error-password{
            color: #f1637d;
            font-size: 14px;
            margin-top: 15px;
        }
        .password{
            input{
                width: 100%;
                border: 1px solid #ddd;
                border-radius: 5px;
                padding: 10px;
                font-size: 18px;
                height: 45px;
                margin-bottom: 25px;
            }
        }
        .control-btn{
            display: flex;
            justify-content: space-between;
            a{
                display: block;
                text-align: center;
                line-height: 45px;
                // padding: 12px 0;
                font-size: 15px;
                // width: 140px;
                border-radius: 4px;
                width: 120px;
                height: 45px;
                transition: all .3s;
                background-color: #666666;
                &:hover {
                    cursor: pointer;
                }
                &.disable{
                    cursor: initial;
                    pointer-events: none;
                    opacity: 0.8;
                }
                &.back-btn{
                    // border: 2px solid #999999;
                    
                    color: white;
                }
                &.confirm-btn{
                    background: #31CB9E;
                    color: white;                    
                }
                @include screen-max-width(medium) {
                    width: 100px;
                }
            }
        }
    }
    
}
