.payment-gateway {
  &__step-title {
    font-size: 16px;
    display: flex;
    align-items: center;
    min-height: 40px;
    // padding-left: 55px;
    // font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.1px;
    position: relative;
    // color: $theme-color-default;
    color: #222222;
    margin-bottom: 20px;

    // &::before {
    //   font-size: 20px;
    //   font-weight: bold;
    //   color: white;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 40px;
    //   height: 40px;
    //   border-radius: 50%;
    //   font-family: $font-openSans;
    //   background-color: $theme-color-default;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }

    // &--1::before {
    //   content: '1';
    // }

    // &--2::before {
    //   content: '2';
    // }

    // &--3::before {
    //   content: '3';
    // }
  }

  &__hollow-button {
    display: inline-block;
    padding: 10px 38px;
    border-radius: 4px;
    border: solid 2px #999999;
    font-size: 18px;
    color: #666666;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: white;
      background-color: $theme-color-default;
      border-color: $theme-color-default;
    }
  }

  &__button {
    color: white;
    border-radius: 4px;
    background-color: $theme-color-default;

    &:hover {
      background-color: $theme-color-default-light;
    }
  }

  &__background {
    background-color: $theme-color-default;
  }

  &__color {
    color: $theme-color-default;
  }

  &__hover-color:hover {
    color: $theme-color-default;
  }

  &__arrow-down {
    width: 12px;
    height: 7px;
    background: url($image-path + 'theme/default-arrow-down.svg') center no-repeat;
    background-size: contain;
  }

  &__checkmark-after::after {
    width: 15px;
    height: 10px;
    background: url($image-path + 'theme/default-checkmark.svg') center no-repeat;
    background-size: contain;
  }
}
