.select-token-panel{
  margin-top: 5px;
  // cursor: pointer;
  input{
    height: auto;
  }
  .list-item{
    height: 250px;
    overflow: auto;
  }
  .amount-enter-label{
    display: block;
    margin-top: 21px;
  }

  .amount-input {
    padding: 4px 12px;
    margin-top: 10px;
    border: 1px solid #ebebeb;
    border-bottom: 2px solid #31CB9E;
    display: flex;
    justify-content: space-between;

    >div {
      &:first-child {
        width: 100%;

        input {
          width: 100%;
        }
      }
    }

    .focus-name{
      text-transform: initial;
    }

    &.error{
      border-bottom: 1px solid $error-color;
      input{
        color: $error-color !important;
      }
      span{
        color: $error-color !important;
      }
    }

    input {
      font-size: 16px;
      margin-bottom: 0;
      padding: 0;
      padding-right: 15px;
      color: #454E5F;
      border:none;
      box-shadow: none;
    }
    span {
      font-size: 15px;
      padding-top: 12px;
      display: flex;
      align-items: center;
      color: rgba(69, 78, 95, .5);
      font-weight: 600;
      &:focus{
        color: #ef8102;
      }
    }    
  }
  .token-selector .dropdown.dropdown--active .select-item{
    display: block;
    border: 1px solid #aaa;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: inherit;
    box-shadow: none;
  }
  > input, > input:focus{
    text-align: right;
    //color: white;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent!important;
    border-top: 1px solid #2a4654!important;
  }
}

.market-header-right {
  .token-selector {
    .d-flex {
      margin-top: 15px;
    }
    .shows-item {
      display: flex;
      align-items: center;
      input {
        height: 25px;
        margin: 10px 10px;
        width: 20px;
        &:hover {
          cursor: pointer;
        }
      }
      label {
        color: #0B0F1A;
        font-size: 15px;
      }
    }
  }
}

.token-selector{
  position: relative;  
  cursor: pointer;
 // background-color: #415b68;
  // .k-angle{
  //   -webkit-font-smoothing: antialiased;
  //   -webkit-backface-visibility: hidden;
  //   -webkit-transform-style: preserve-3d;
  //   -webkit-transform:translate3d(0,0,0);
  // }
  color: #545268;
  .dropdown{
    width: 100%;

    &.dropdown--active{
     // background-color: #243c48;
      .focus-item{
        // border-color: $white;
        border-bottom: 1px solid #4c636f;        
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .select-item{
        display: block;
        border: 2px solid $white;
        border-top: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        color: inherit;
        padding-bottom: 15px;
      }
    }
    .dropdown__content{
      width: 100%;
      margin-top: -1px;
    }
    // input{
    //   outline: 0;
    //   border: 0;
    //   &:focus{
    //     outline: 0;
    //     border: 0;
    //   }
    // }
    // button{      
    //   &.btn{
    //     width: 100%;
    //   }      
    // } 
    .dropdown-menu{
      width: 100%;
      top: -17px !important;
      z-index: 5;
      height: 0px;
      outline: 0;
      border: 0;
      &:focus{
        border: 0;
        outline: 0;
      }
    }
  }
  // .token-name{
  //   color: #aaa;
  // }
  input{
    outline: none;
    border: 1px solid #aaa;
    width: 100%;
    height: 37px;
    padding: 10px;
    border-radius: 29px;
    margin: 0px;


    &:-webkit-outer-spin-button,
    &:-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
  }
  .focus-item{
    padding: 12px 12px;
    border: 1px solid #ccc;
    // border-bottom: 1px solid transparent;
    border-radius: 3px;
  //  color: white;
    // box-shadow: 0 0 15px #ddd;
    align-items: center;
    font-size: 15px;
    .rate-token{
      color: #555;
      font-size: 13px;
    }
    &.d-flex{
      justify-content: space-between;
    }
    .d-flex{
      align-items: center;
    }
    .focus-name{
      color: #545268;
      text-transform: uppercase;
      font-size: 14px;
    }
    .focus-balance{
      color: #9997A5;
      font-size: 0.8rem;
      .token-balance{
        margin-right: 5px;
      }
      // .token-symbol{
      //   margin-left: 5px;
      // }
    }
    .icon{
      margin-right: 10px;
      max-width: 30px;
     // border-radius: 20px;
     // background-color: $white;
   //   border: 2px solid $white;
      img{
        vertical-align: top;
        width: 28px;
        max-height: 28px;
      }
    }
  }
  .select-item{
    position: absolute;
    transition: 0.2s;
    width: 100%;
    z-index: 2;
    background-color: #FCFCFC;
    box-shadow: 0 0 2px #aaa;
  //  background-color: #243c48;
    border: 2px solid $white;
    border-top: none;
    border-bottom: none;
    .search-item{
      padding: 15px;
      margin-bottom: 10px;
    }
  }
  // &.open{
  //   background-color: #243c48;
  //   .focus-item{
  //     border-color: $white;
  //     border-bottom: 1px solid #4c636f;
  //   }
  //   .select-item{
  //     display: block;
  //     border: 2px solid $white;
  //     border-top: none;
  //   }
  // }

  .list-item{
    overflow-y: auto;
    .token-item{
      padding: 9px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      >div{
        &:first-child{
          display: flex;
          align-items: center;
        }

        &:last-child{
          color: #aaa;
          font-size: 13px;
        }
      }
      .item-balance{
        color: #666666;
        font-size: 14px;
      }
      .item-balance-value{
        margin-right: 5px;
      }
      // .item-symbol{
      //   margin-left: 5px;
      // }
      .item-icon{
        // border-radius: 20px;
        // background-color: $white;
        width: 35px;
        display: inline-block;
        margin-right: 10px;
        img{
          width: 28px;
          max-height: 28px;
        }
      }
      >div{
        // >span{
        //   color: white
        // }
        span.token-name{
          color: #aaa;
        }
        .item-name{
          margin-left: 10px;
          margin-right: 5px;
        }
      }
      >img{
        width: 30px;
      }
      .unsupported{
        color:$alert-color;
      }
      &:hover{
        background-color: rgba(239, 129, 2, 0.1)
      }
    }
  }
  &.close{
    .select-item{
      height: 0px;
      display: none;
      overflow: hidden;
      padding: 0;
    }
  }
}

.token-chooser {
  position: relative;
  cursor: pointer;
  color: #545268;

  .dropdown {
    width: 100%;

    &.dropdown--active {
      .focus-item{
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .select-item{
        display: block;
        border-top: none;
        color: inherit;
        padding-bottom: 15px;
        box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.24), 0 0 24px 0 rgba(0, 0, 0, 0.12);
      }
    }

    &__trigger {
      display: block;
      position: relative;
      z-index: 2;
    }

    &__content{
      width: 100%;
      margin-top: -1px;
      position: relative;
      z-index: 1;
    }

    .dropdown-menu{
      width: 100%;
      top: -17px !important;
      z-index: 5;
      height: 0px;
      outline: 0;
      border: 0;
      &:focus{
        border: 0;
        outline: 0;
      }
    }
  }

  input {
    font-weight: 600;
    color: #222222;
    font-size: 14px;
    outline: none;
    border: solid 1px #e8e8e8;
    width: 100%;
    height: 55px;
    padding: 10px 10px 10px 35px;
    margin: 0;

    &:-webkit-outer-spin-button,
    &:-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::placeholder {
      font-weight: normal;
      color: #222222;
    }
  }

  .focus-item {
    padding: 12px 12px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    align-items: center;
    font-size: 15px;

    .rate-token{
      color: #555;
      font-size: 13px;
    }
    &.d-flex{
      justify-content: space-between;
    }
    .d-flex{
      align-items: center;
    }
    .focus-name{
      color: #545268;
      text-transform: uppercase;
      font-size: 14px;
    }

    .focus-balance{
      color: #666;
      font-size: 14px;
      font-weight: 600;
    }

    .icon {
      margin-right: 10px;
      max-width: 30px;

      img{
        vertical-align: top;
        width: 28px;
        max-height: 28px;
      }
    }
  }

  .select-item {
    position: absolute;
    transition: 0.2s;
    width: 100%;
    z-index: 2;
    background-color: #FCFCFC;
    box-shadow: 0 0 2px #aaa;
    border: 1px solid #ebebeb;
    border-top: none;
    border-bottom: none;
    margin-bottom: 50px;
    cursor: initial;

    .search-item {
      padding: 15px;
      position: relative;

      &::before {
        content: '';
        width: 18px;
        height: 18px;
        display: block;
        position: absolute;
        top: 50%;
        left: 25px;
        margin-top: -9px;
        background-image: url($image-path + 'search.svg');
      }
    }
  }

  .list-item {
    height: auto;
    padding: 0 15px;

    &__content {
      max-height: 240px;
      padding-right: 15px;
      overflow-y: auto;

      &::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: rgba(163, 165, 175, .2);
      }

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba(163, 165, 175, 1);
      }
    }

    .token-item {
      display: flex;
      align-items: center;

      &-container {
        cursor: pointer;
        transition: all .3s;

        &:last-child .token-item-content {
          border-bottom: none;
        }

        &--inactive {
          color: #c1c1c1;
          cursor: initial;
          pointer-events: none;

          img {
            opacity: .5;
          }
        }
      }

      &-content {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px #D8D8D8;
      }

      &__icon {
        width: 28px;
        max-height: 28px;
        margin-right: 10px;
      }

      &__symbol {
        font-size: 14px;
        font-weight: 600;
      }

      &__rate {
        font-size: 12px;
      }
    }
  }

  &.close {
    .select-item {
      height: 0px;
      display: none;
      overflow: hidden;
      padding: 0;
    }
  }

  .dropdown {
    &.dropdown--active {
      .focus-item{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .focus-item {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    padding: 10px 12px;
    align-items: center;
    font-size: 15px;
    &.d-flex{
      justify-content: space-between;
    }
    .d-flex{
      align-items: center;
      div:nth-child(2) {
        overflow: hidden;
        .focus-name {
          text-overflow: ellipsis;
          text-transform: initial;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .focus-name {
      color: #222222;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: -0.4px;
    }

    .focus-balance {
      color: #666666;
      font-size: 14px;
      font-weight: 600;

      .token-balance{
        margin-right: 5px;
      }
    }

    .icon {
      margin-right: 10px;
      img{
        vertical-align: top;
      }
    }

    i.k-angle {
      background-image: url(../img/exchange/arrow-down-swap.svg);
      height: 10px;
      width: 13px;
      background-size: 13px 13px;
    }
  }

  .suggest-item {
    padding: 25px 15px 15px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(71, 77, 95, .12);
    cursor: initial;

    &__content {
      width: 30%;
      padding: 6px 8px;
      border-radius: 3px;
      border: solid 1px #d6d6d6;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        box-shadow: 0 3px 7px 0 #b8b8b8;
      }
    }

    &__icon {
      width: 28px;
      max-height: 28px;
      margin-right: 6px;
    }

    &__symbol {
      font-size: 13px;
      font-weight: 600;
      color: #787878;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
