* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, form {
    margin: 0;
    padding: 0;
}
#wrapper {
    width: 840px;
    max-width: 100%;
    margin: 5rem auto;
    line-height: 1.4;
}
.section {
    padding: 1rem;
}
.section-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.6rem;
}
.item {
    display: block;
    padding: 0.5rem 0;
}
.item-name {
    position: relative;
    text-align: right;
    display: inline-block;
    width: 280px;
    font-weight: bold;
    padding-right: 2rem;
}
.item-value {
    display: inline-block;
    width: 500px;
    max-width: 100%;
    position: relative;
}
.item-value label {
    padding-right: 2rem;
    display: inline-block;
}
label.required {
    position: relative;
}
label.required::after {
    content: '*';
    color: #d45a58;
    position: absolute;
    top: 0;
    right: 1rem;
}
input[type='text'], input[type='number'], input[type='url'] {
    padding: 0.5rem 0.5rem;
}
input:invalid {
    background-color: #ffd8b8;
}
select {
    height: 2rem;
    text-indent: 0.1rem;
}
textarea {
    width: 100%;
    height: 120px;
    font-family: monospace;
}
#sourceHtml {
    height: 120px;
}
#sourceCss, #sourceJs {
    height: 300px;
}
.align-top {
    vertical-align: top;
}
.full-length {
    width: 100%;
}
.w30 label {
    width: 30%;
}
.error {
    color: #d45a58;
}
.uppercase {
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.btn-copy {
    display: block;
    float: right;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    margin-top: -10px;
    height: 25px;
    outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
@media (max-width: 839px) {
    #wrapper {
        width: 600px;
    }
    .item-name {
        text-align: left;
        width: 500px;
        max-width: 100%;
        padding-right: 0;
        padding-bottom: 0.5rem;
    }
    .btn-copy {
        top: 0;
        right: 0;
    }
    .item-name:empty {
        height: 0;
    }
    label.required::after {
        right: -1rem;
    }
    .item-value {
        display: block;
        padding-bottom: 0.4rem;
    }
    label.required {
        width: auto;
    }
}
@media (max-width: 499px) {
    .w30 label {
        width: auto;
    }
}
