* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
}

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
  color: #666666;
}

body, form {
    margin: 0;
    padding: 0;
}

.widget-config__header {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.no-scroll {
  overflow: hidden;
}

#wrapper {
  max-width: 900px;
  margin: 3rem 0;
  line-height: 1.4;
  padding: 0 1rem;
}

html.standalone #wrapper {
  margin: 50px auto;
}

.item {
  padding-top: 15px;
}

.border-item {
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}

.border-item:last-child {
  border-bottom: none;
}

.single-item {
  padding: 30px 20px;
}

.item-name {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 13px;
}

.item-value {
  font-size: 14px;
  font-weight: 600;
  color: #475065;
}

.item-value label {
    padding-right: 1.6rem;
    display: inline-block;
}

.item-value label:last-child {
  padding-right: 0;
}

label.required, [data-widget-type='pay'] label.required-type-pay, [data-widget-type='buy'] label.required-type-buy {
    position: relative;
}
label.required::after, [data-widget-type='pay'] label.required-type-pay::after, [data-widget-type='buy'] label.required-type-buy::after {
    content: '*';
    color: #d45a58;
    position: absolute;
    top: 0;
    right: -10px;
}

.input-box {
  padding: 15px;
  outline: none;
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  height: 50px;
  transition: all .3s;
  font-size: 14px;
  color: #727b8f;
}

.input-box:focus {
  box-shadow: 0 3px 5px 0 #ccc;
}

input:invalid, input.invalid {
    background-color: #ffd8b8;
}
select {
    height: 2rem;
    text-indent: 0.1rem;
}
textarea {
    width: 100%;
    font-family: monospace;
}
.align-top {
    vertical-align: top;
}
.full-length {
    width: 100%;
}
.w30 label {
    width: 30%;
}
.error {
    color: #d45a58;
}
.uppercase {
    text-transform: uppercase;
}
.center {
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.source-tabs {
    padding: 50px 40px 30px;
}

.source-tabs.active .copied-text {
  display: block;
}

/* Style the tab content */
.tabcontent {
  margin-top: 8px;
  border-radius: 4px;
  transition: all .3s;
}

.btn-copy-container {
  text-align: right;
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.btn-copy {
  display: inline-block;
  border-radius: 4px;
  background-color: #31cb9e;
  font-size: 14px;
  color: #f8f8f8;
  text-transform: uppercase;
  padding: 6px 30px;
  cursor: pointer;
  margin-left: 20px;
}

.widget-config__default-btn {
  transition: all .3s;
}

.copied-text {
  font-size: 13px;
  font-style: italic;
  color: #31cb9e;
  margin-top: 3px;
  display: none;
  opacity: 0;
  font-weight: 200;
  transform: translateY(10px);
  animation: slidein .5s forwards;
}

#sourceCssItem, #sourceJsItem {
    visibility: hidden;
}

code[class*="language-"] {
  font-size: 14px;
  border: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

pre[class*="language-"] {
  padding: 1em;
  margin: 0;
  background-color: #f6f6f6;
}

.disabled, input[disabled] {
    color: #b3b3b3;
    cursor: not-allowed;
}
label input, select, .pointer {
    cursor: pointer;
}

[data-widget-type='pay'] .hidden-type-pay {
    display: none;
}
[data-widget-type='swap'] .hidden-type-swap {
    display: none;
}
[data-widget-type='buy'] .hidden-type-buy {
    display: none;
}

.widget-config__container {
  margin-top: 30px;
  border-radius: 6px;
  background-color: white;
}

.colored-block {
  width: 100%;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.widget-config__select-default {
  height: 50px;
  background-color: white;
  font-size: 14px;
  color: #727b8f;
  border-radius: 4px;
  border: solid 1px;
  outline: none;
}

.widget-config__container input::placeholder {
  font-size: 12px;
  font-style: italic;
  color: #999999;
}

.widget-config__content--flex {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 25px 30px;
  position: relative;
}

.widget-config__header-item {
  width: 50%;
}

.widget-config__header-item:nth-child(2) {
  text-align: center;
}

.widget-config__header-item:last-child {
  text-align: right;
}

.widget-config__header-item .widget-config__btn {
  margin-left: 10px;
}

.full-width {
  width: 100%;
}

.widget-config__btn {
  display: inline-block;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 25px;
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  transition: all .3s;
}

.widget-config__btn--disabled {
  opacity: 0.7;
  pointer-events: none;
}

.widget-config__btn:hover {
  box-shadow: 0 3px 5px 0 #ccc;
}

.widget-config__btn:active {
  top: 1px;
}

.widget-config__form {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  background-color: #fcfcfe;
  box-shadow: 0 2px 6px 0 rgba(184, 184, 184, 0.5);
}

.widget-config__form-section {
  width: 50%;
  padding: 20px 30px 40px 30px;
}

.section-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.section-title::after {
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-title__text {
  display: inline-block;
  background: white;
  position: relative;
  z-index: 1;
  padding-right: 20px;
}

.widget-config__option {
  width: 30%;
  display: inline-block;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  margin-bottom: 0;
}

.widget-config__radio {
   position: absolute;
   visibility: hidden;
   pointer-events: none;
}

.widget-config__radio:checked ~.widget-config__checkmark {
  border-color: #ef8102;
  background-color: #ef8102;
}

.widget-config__radio:checked ~.widget-config__checkmark::after {
  transform: translateY(-50%) scale(1);
}

.widget-config__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: solid 2px #d4e1ef;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all .2s;
}

.widget-config__checkmark::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition: all .5s;
}

.widget-config__option-text {
  font-size: 14px;
  font-weight: 500;
  color: #727b8f;
}

.widget-config__checkbox-input {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

.widget-config__checkbox-label {
  padding-left: 28px;
  position: relative;
  cursor: pointer;
}

.widget-config__checkbox-substitute {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #d4e1ef;
  border-radius: 2px;
  transition: all .2s;
}

.widget-config__checkbox-substitute::after {
  display: block;
  position: absolute;
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.widget-config__checkbox-input:checked ~.widget-config__checkbox-substitute::after {
  content: '';
}

.kyber-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 999;
  overflow: auto;
  transition: all .3s;
}

.kyber-overlay--active {
  visibility: visible;
  opacity: 1;
}

.kyber-modal {
  width: 90%;
  max-width: 800px;
  max-height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

.kyber-modal__content {
  margin: 10px 0 50px;
  border-radius: 4px;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.7);
  transition: all .3s;
}

.kyber-modal__close-btn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  cursor: pointer;
  transition: color 0.3s;
}

.kyber-modal__close-btn:hover {
  color: #333;
}

.kyber-modal--active {
   pointer-events: visible;
}

.kyber-modal--active .kyber-modal__content {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.widget-config__title {
  font-size: 23px;
  color: #222;
  font-weight: 300;
  margin-bottom: 15px;
}

.widget-config__select {
  padding-right: 50px;
}

.widget-config__select::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 8px;
  background-image: url("images/icon-dropdown.svg");
  display: block;
  top: 17px;
  right: 25px;
}

.widget-config__select:active {
  top: 0;
}

.widget-config__select-title {

}

.widget-config__select-container {
  border-radius: 5px;
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.09);
  border: solid 1px;
  background-color: white;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 18px;
  text-align: left;
  padding: 10px 0;
  opacity: 0;
  transform: translateY(20px);
  transition: all .3s;
  z-index: 3;
}

.widget-config__select.active {
  box-shadow: 0 3px 5px 0 #ccc;
}

.widget-config__select.active .widget-config__select-container {
  opacity: 1;
  transform: translateY(0);
}

.widget-config__select-item {
  transition: all .3s;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 500;
  color: #474d5f;
}

.widget-config__select-item:hover {
  background-color: #f1f4f7;
}

.widget-config__select-item.selected {

}

.theme-emerald .widget-config__container {
  box-shadow: 0 10px 20px 0 rgba(11, 104, 126, 0.21);
}

.theme-emerald .colored-block {
  background-image: linear-gradient(145deg, #00bf9f, #00a2bc);
}

.theme-emerald h1 {
  color: white;
}

.theme-emerald .widget-config__content--flex {
  box-shadow: 0 4px 32px 0 rgba(65, 101, 128, 0.11);
}

.theme-emerald .widget-config__btn {
  border: solid 1px #d4e1ef;
  color: #475065;
}

.theme-emerald .input-box {
  border: solid 1px #d4e1ef;
}

.theme-emerald .widget-config__select-container {
  border-color: #d4e1ef;
}

.theme-emerald .widget-config__select-default {
  border-color: #d4e1ef;
}

.theme-emerald .widget-config__radio:checked ~.widget-config__checkmark {
  border-color: #00a2bc;
  background-color: #00a2bc;
}

.theme-emerald .widget-config__checkmark {
  border-color: #d4e1ef;
}

.theme-emerald .section-title::after {
  background-color: #d4e1ef;
}

.theme-emerald .border-item {
  border-color: #d4e1ef;
}

.theme-emerald .widget-config__checkbox-input:checked ~.widget-config__checkbox-substitute {
  background-color: #00a2bc;
  border-color: #00a2bc;
}

.theme-emerald .widget-config__checkbox-substitute {
  border-color: #d4e1ef;
}

.theme-emerald .widget-config__default-btn {
  background-color: #00a2bc;
}

.theme-emerald .widget-config__default-btn:hover {
  background-color: #02c2e0;
}

.theme-emerald .copied-text {
  color: #02c2e0;
}

@keyframes slidein {
  to {
    opacity: 1;
    transform: translateY(2px);
  }
}

@media (max-width: 900px) {
  .widget-config__form {
    flex-wrap: wrap;
  }

  .widget-config__form-section {
    width: 100%;
  }

  .widget-config__form-section:first-child {
    padding-bottom: 10px;
  }
}

@media (max-width: 650px) {
  .widget-config__content--flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .widget-config__header-item {
    width: 100%;
  }

  .widget-config__header-item:nth-child(2),
  .widget-config__header-item:last-child {
    margin-top: 20px;
    text-align: left;
  }

  .item-value label {
    display: block;
    width: 100%;
    padding: 0;
  }
}
