* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, form {
    margin: 0;
    padding: 0;
}
#wrapper {
    width: 840px;
    max-width: 100%;
    margin: 5rem auto 280px;
    line-height: 1.4;
}
.section {
    padding: 1rem;
}
.section-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.6rem;
}
.item {
    display: block;
    padding: 0.5rem 0;
}
.item-name {
    position: relative;
    text-align: right;
    display: inline-block;
    width: 280px;
    font-weight: bold;
    padding-right: 2rem;
}
.item-value {
    display: inline-block;
    width: 500px;
    max-width: 100%;
    position: relative;
}
.item-value label {
    padding-right: 2rem;
    display: inline-block;
}
label.required {
    position: relative;
}
label.required::after {
    content: '*';
    color: #d45a58;
    position: absolute;
    top: 0;
    right: 1rem;
}
input[type='text'], input[type='number'], input[type='url'] {
    padding: 0.5rem 0.5rem;
}
input:invalid {
    background-color: #ffd8b8;
}
select {
    height: 2rem;
    text-indent: 0.1rem;
}
textarea {
    width: 100%;
    font-family: monospace;
}
.align-top {
    vertical-align: top;
}
.full-length {
    width: 100%;
}
.w30 label {
    width: 30%;
}
.error {
    color: #d45a58;
}
.uppercase {
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.btn-copy {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.source-tabs{
    padding: 1.5rem 0;
    position: relative;
}
/* Style the tab */
.tabrow {
    position: relative;
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tablink {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 8px;
    transition: 0.3s;
    font-size: 14px;
}

/* Change background color of buttons on hover */
.tablink:hover {
    border-bottom: 1px solid #ccc;
}

/* Create an active/current tablink class */
.tablink.active {
    border-bottom: 3px solid #31CB9E;
}

/* Style the tab content */
.tabcontent {
    position: absolute;
    left: 0;
    right: 0;
}
#sourceCssItem, #sourceJsItem {
    visibility: hidden;
}
code[class*="language-"] {
    font-size: 14px;
    border: 0;
}
pre[class*="language-"] {
    padding: 1em;
    margin: 0;
    height: 240px;
}
.disabled, input[disabled] {
    color: #b3b3b3;
    cursor: not-allowed;
}
label input, select, .pointer {
    cursor: pointer;
}
@media (max-width: 839px) {
    #wrapper {
        width: 600px;
    }
    .item-name {
        text-align: left;
        width: 500px;
        max-width: 100%;
        padding-right: 0;
        padding-bottom: 0.5rem;
    }
    .item-name:empty {
        height: 0;
    }
    label.required::after {
        right: -1rem;
    }
    .item-value {
        display: block;
        padding-bottom: 0.4rem;
    }
    label.required {
        width: auto;
    }
}
@media (max-width: 499px) {
    .w30 label {
        width: auto;
    }
}
