.kyber-widget-button {
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 47 67'><g fill='%2331CB9E'><path d='m20 33.509 25.029 14.318c0.87928 0.49892 1.9708-0.13607 1.9708-1.1339v-26.382c0-1.013-1.0915-1.6328-1.9708-1.1339l-25.029 14.333z'/><path d='m44.473 12.835-17.096-12.566c-0.79409-0.58482-1.9307-0.16495-2.1332 0.76476l-6.2438 27.966 25.318-14.006c0.8408-0.46485 0.91866-1.5895 0.1557-2.1593'/><path d='m27.361 66.738 17.111-12.569c0.76291-0.56995 0.68506-1.6949-0.14013-2.1598l-25.332-14.009 6.2434 27.973c0.18683 0.92992 1.339 1.3349 2.1175 0.76493'/><path d='m13.497 33.008 6.4714-30.416c0.25466-1.1954-1.0936-2.058-2.0523-1.3165l-16.568 12.772c-0.85387 0.65068-1.3482 1.6797-1.3482 2.7541v32.398c0 1.0744 0.49435 2.1034 1.3482 2.7541l16.568 12.772c0.95873 0.74148 2.3069-0.12106 2.0523-1.3165l-6.4714-30.401z'/></g></svg>");
}
html[data-kyber-widget-edition='standard'] .kyber-widget-button {
    display: inline-block;
    width: 100%;
    max-width: 180px;
    padding: 10px 0;
    text-indent: 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #F8F8F8;
    background-color: #303955;
    background-position: 24px center;
    background-size: auto 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html[data-kyber-widget-edition='standard'] .kyber-widget-button:hover {
    color: #fff;
}

html[data-kyber-widget-edition='etheremon'] .kyber-widget-button {
    padding-left: 36px;
    background-position: 12px center;
    background-size: 16px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#kyber-widget {
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    max-height: 100%;
    width: 100%;
    max-width: 405px;
}

#kyber-widget-overlay {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadein .5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#kyber-widget-overlay::before {
    content: "×";
    position: absolute;
    top: 16px;
    right: 8px;
    display: inline-block;
    padding: 6px;
    font-size: 36px;
    color: #fff;
    line-height: 0;
    cursor: pointer;
}

#kyber-widget-iframe {
    background-color: #fff;
    position: absolute;
    width: 405px;
    box-sizing: border-box;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    height: 80%;
    min-height: 605px;
    max-height: 1070px;
    border: 0;
}
